@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container{
  margin: 100px;
}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;

}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}





/* Tests */

.decor {
	position:relative;
	overflow:hidden; /* chop off span when not visible */
	zoom:1; /* trip haslayout, make IE play nice */
}

.decor img {
	display:block; /* remove any oddball paddings/margins from IMG */
}

.decor span {
	position:absolute;
	display:inline; /* IE state change hover fix */
	bottom:0;
	right:999em;
	width:320px; /* img width */
	height:200px; /* img height */
	background:#FFF;
	opacity:0.35;
	-moz-opacity:0.35;
	filter:alpha(opacity=35);
}

/*
	don't forget active and focus so keyboard users
	aren't left out in the cold!
*/

.decor:active span,
.decor:focus span,
.decor:hover span {
	display:block; /* IE state change hover fix */
	right:0;
}